/* GLOBAL STYLES */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}

body {
    width: 100%;
}

p {
    font-size: 1.6rem;
    color: var(--grayish-violet);
    line-height: 1.6;
}

section {
    padding: 5rem 0;
}

.container {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 2.5rem;
}

/* VARIABLES */
:root {
    --cyan: hsl(180, 66%, 49%);
    --dark-violet: hsl(257, 27%, 26%);
    --gray: hsl(0, 0%, 75%);
    --dark-grey: #EFF1F7;
    --grayish-violet: hsl(260, 7%, 59%);
    --very-dark-blue: hsl(255, 11%, 22%);
    --very-dark-violet: hsl(260, 8%, 14%);
    --white: #fff;
}

/* UTILITY CLASSES */
.u-mb-small {
    margin-bottom: 1.6rem;
}

.u-mb-medium {
    margin-bottom: 3rem;
}

.u-mb-large {
    margin-bottom: 5rem;
}

/********** HEADER STYLES ***********/
/********** HEADER STYLES ***********/
/********** HEADER STYLES ***********/
header {
    width: 100%;
    height: 7.5rem;
    padding: 2.5rem 0;
    background-color: var(--dark-violet);
    position: relative;
    /* z-index: 9999999; */
}

.logo {
    height: 3.5rem;
    margin-right: 3rem;
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-ul {
    display: flex;
    flex-grow: 1;
}

.nav-ul li {
    list-style: none;
    padding: 0 .5rem;
}

.nav-ul li a,
.login a:first-child {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--white);
}

.login a:first-child {
    margin-right: 1.5rem; 
}

.nav-ul li a:hover,
.login a:hover:first-child {
    color: var(--cyan);
}

.u-login {
    display: none;
}

.btn {
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
    background-color: var(--cyan);
    padding: 1rem 2rem;
    color: var(--white);
    border-radius: 5rem;
    opacity: 1;
    transition: all .3s;
}

.btn:hover {
    opacity: .8;
}

/***********  INTRO SECTION  *****************/
/***********  INTRO SECTION  *****************/
/***********  INTRO SECTION  *****************/
.intro-section {
    background-color: var(--grey);
    padding-bottom: 10rem;
    overflow: hidden;
}
.intro {
    display: flex;
    justify-content: space-between;
}

.intro-text {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.intro-text h1 {
    font-size: 5.5rem;
    font-weight: 700;
    line-height: 6rem;
    color: var(--dark-violet);
}

.intro-text h1 span {
    display: block;
}

.intro-image {
    width: 100%;
}


/* PRICE SECTION */

.title {
    text-align: center;
}

.s-head {
    font-size: 3rem;
    font-weight: 700;
    text-transform: capitalize;
}

.price {
    width: 100%;
    margin: 0 auto;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.price-box {
    width: 100%;
    text-align: center;
    border: 1px solid var(--dark-grey);
    border-radius: 5px;
    background-color: var(--white);
    padding-bottom: 3rem;
    margin: 2rem 1.5rem;
    overflow: hidden;
    z-index: 0;
    box-shadow: var(--box-shadow);
}

.price-box p {
    font-size: 2rem;
    margin-bottom: 1rem;
    /* color: var(--white); */
}

.price-box h4 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.price-box h4 span {
    font-size: 1.6rem;
    vertical-align: middle;
    /* color: var(--white); */
}

.price-box ul {
    list-style: none;
    margin-bottom: 3rem;
}

.price-box ul li {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--color-text);
    text-transform: capitalize;
    padding: 1.2rem 0;
}

.price-box a {
    font-size: 1.4rem;
    text-decoration: none;
    background-color: var(--cyan);
    padding: 1.2rem 3rem;
    border-radius: 5px;
    margin-bottom: 3rem;
    color: var(--white);
    transition: all .3s;
}

.price-box a:hover {
    font-size: 1.5rem;
}




/* TESTIMONIAL SECTION */
.testimonial-section {
    background-color: var(--light-grey);
}

.testimonial {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-box {
    margin: 1rem;
    background-color: var(--white);
    text-align: center;
    border: 1px solid var(--dark-grey);
    border-radius: 5px;
    padding-bottom: 3rem;
    margin: 2rem 1.5rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    overflow: hidden;
    transform: translateY(0);
    transition: all .3s;
}

.testimonial-box:hover {
    background-color: var(--light-grey);
    transform: translateY(-1rem);
    
}

.testimonial p {
    font-size: 1.4rem;
    margin: 1rem;
}

.testimonial-box img {
    width: 30%;
    border: 3px solid var(--gray);
    border-radius: 50%;
}

.name {
    color: var(--purple);
    font-weight: 700;
}


/* FOOTER SECTION */
.footer-section {
    padding: 5rem 0;
    background-color: var(--very-dark-violet);
}

.footer{
    display: grid;
    grid-template-columns: repeat(auto-fix, minmax(15rem,1fr));
    row-gap: 2rem;
}


.footer-links {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.footer-links li {
    padding-bottom: -5rem;
}

.footer-icons img {
    padding: 0 2rem 5rem o;

}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   }


/* MEDIA QUERIES */

    /* TABLET SIZED DEVICES */
    @media screen and (max-with:985px) {
        /* INRTO SECTION */
        .intro-text {
            width: 50%;
        }
    
        .intro-text h1 {
            font-size: 4.5rem;
            line-height: 4.5rem;
        }
    
        /* ABOUT SECTION */
        .about{
            width: 100%;
            padding-bottom: 6rem;
        }
    
        .about h2 {
            font-size: 3rem;
        }
    
        /* FEATURE SECTION */
        .feature-box {
            padding: 7rem 2rem 3rem 2rem;
        }
        .feature-box:not(:last-child) {
            margin-right: 1.5rem;
        }
    }
    
    
    /* MOBILE RESPONSIVE QUERIES */
    @media screen and (max-width: 600px) {
        header{
            height: 9rem;
        }
        .logo {
            margin: 0;
        }
    
        .login {
            display: none;
        }
    
        nav {
            display: block;
            text-align: center;
        }
    
       .nav-ul {
        justify-content: center;
       }
    
       .u-login {
        display: inline;
       }
    }
    


